*-build
*-build-*
*.a
*.aps
*.gmo
*.log
*.mo
*.opensdf
*.orig
*.pyc
*.qm
*.sdf
*.suo
*.swp
*.tmp
*.user
*~
.cproject
.DS_Store
.project
_build
build*
CMakeCache.txt
CMakeFiles
Debug
Doxyfile
html
ipch
latex
Makefile
moc_*.*
qrc_*.*
Release
ui_*.*
